body{
  background-color: darkslategray;
}

.header{
  margin: 3% auto;
  text-align: center;
  font-size: 40px;
  color: white;
  
}

.board-main{
  width: 80%;
  margin: auto;
}

.create-btn{
  text-align: center;
  display: block;
  margin-bottom: 30px;
  margin-left: 75%;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

.create-btn:hover{
  color: #0070f3;
  cursor: pointer;
}

.post-container{
  background: white;
  border: 1px solid gray;
  width: 80%;
  height: 30px;
  margin: auto;
  border-radius: 3px;
}

.post-container .post-title:hover{
  cursor: pointer;
  color: #aed581;
}

.post-writer{
  display: inline-block;
  text-align: center;
  width: 10%;
}

.post-title{
  display: inline-block;
  text-align: center;
  width: 75%;
}

.post-views{
  display: inline-block;
  text-align: center;
  width: 15%;
}

.page-number-txt{
  padding: 20px;
}

.page-number-txt:hover {
  color: #0070f3;
  cursor: pointer;
}

.page-bar{
  margin: auto;
  margin-top: 30px;
  width: 80%;
  background: white;
  text-align: center;
}

.home-header{
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.home-main{
  margin-top: 30px;
  text-align: center;
  font-size: large;  
}

.home-main a {
  color: white; /* 기본 색상 (방문하지 않은 링크) */
  text-decoration: none; /* 밑줄 제거 (선택사항) */
}

.home-main a:hover{
  color: aqua;
}

.create-board-main{
  width: 40%;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.create-board-main button{
  width: 70px;
  height: 40px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  background-color: #aed581;
}

.create-btn-style{
  margin-top: 20px;
  text-align: right;
}

.input-txt{
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #c5e1a5;
}

.input-area{
  text-align: left;
}

.input-textarea{
  border-radius: 10px;
  margin-left: 90px;
  border: none;
  background-color: #c5e1a5;
}

.input-label{
  text-align: left;
  margin-right: 20px;
  width: 70px;
  display: inline-block;
}

.board-detail-container{
  width: 40%;
  height: auto;
  margin: auto;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 10px;
}

.board-detail-container button{
  width: 70px;
  height: 40px;
  border: none;
  background: #aed581;
  border-radius: 10px;
}

.pagination-ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  background-color: white;
}

.pagination-ul li {
  padding: 10px 15px;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
}